<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Optional: software installation troubleshooting</td> </tr>
      <tr> <td>09:00</td>  <td>Introduction</td> </tr>
      <tr> <td>09:10</td>  <td>Logging onto Cloud</td> </tr>
      <tr> <td>09:20</td>  <td>Introducing the Shell</td> </tr>
      <tr> <td>09:50</td>  <td>Navigating Files and Directories</td> </tr>
      <tr> <td>~10:00</td>  <td>Coffee</td> </tr>
      <tr> <td>10:40</td>  <td>Working with Files and Directories</td> </tr>
      <tr> <td>11:25</td>  <td>Redirection</td> </tr>
      <tr> <td>~12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Writing Scripts</td> </tr>
      <tr> <td>13:40</td>  <td>Project Organisation</td> </tr>
      <tr> <td>14:10</td>  <td>Assessing Read Quality</td> </tr>
      <tr> <td>~15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:15</td>  <td>Trimming and Filtering</td> </tr>
      <tr> <td>16:05</td>  <td>Variant Calling Workflow</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Optional: software installation troubleshooting</td> </tr>
      <tr> <td>09:00</td>  <td>Recap of day 1</td> </tr>
      <tr> <td>09:20</td>  <td>Automating a Variant Calling Workflow</td> </tr>
      <tr> <td>~10:00</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>R for Microbial Genomics</td> </tr>
      <tr> <td>~12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>~15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
</div>
